.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #14213D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  color: white;
}
.emtyheader{
  top:0;
  width: 100%;
  height: 25%;
  background-color: #FCA311;
  position: absolute;
  z-index: 1;
}

@media only screen and (max-width 780px){
  .App{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}